.App {
    /* background-image:url(https://img.freepik.com/free-photo/vintage-grunge-blue-concrete-texture-studio-wall-background-with-vignette_1258-28513.jpg?w=900&t=st=1650102299~exp=1650102899~hmac=67e731e0a15e3654c06bca7d2b2d9c49cef16918ec4c60c81be53fca32ef66fa)   ; */
    height: 800px;
    max-width: 900px;
}


.App h2 {
   margin-top: 0px;
   /* color: rgb(97, 11, 158); */
   color: #33d9de;

}

.hw {
    margin-left: 10px;

}