
.items input {
    padding: 2px 5px;
    margin: 2px 4px;
    border-radius: 8px;
    background-image: linear-gradient(45deg, #6ab1d7 10%, #cb92d0e1 50%, #1f489a 120%);
    font-size: 14px;
    color: white;
    box-shadow: 0 16px 32px 2px rgba(0, 40, 120, .35);
    transition: .5s;
}

.items button {
    border-radius: 15px 55px 55px 15px;
    background-image: linear-gradient(45deg, #021c7a 10%, #d06cd9e1 50%, #0f8b7d 100%);
    background-position: 100% 1;
    background-size: 200% 200%;
    font-size: 14px;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;
  }

.items input:hover {
  transform: scale(1.01);
  
}

.items button:hover {
  transform: scale(1.02);
  
}